 body {
     background: #e9f5db;
 }

 .card {
     border: none;
     border-radius: 20px;
     min-width: 500px;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .card:hover {
     transform: translate(-50%, -50%) translateY(-5px);
     box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
 }

 .btn-primary {
     background-color: #718355;
     border-color: #718355;
     border-radius: 10px;
     transition: all 0.3s ease;
 }

 .btn-primary:hover {
     background-color: #87986A;
     border-color: #87986A;
     transform: translateY(-2px);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 }

 .btn-secondary {
     background-color: #97A97C;
     border-color: #97A97C;
     border-radius: 10px;
     transition: all 0.3s ease;
 }

 .btn-secondary:hover {
     background-color: #B5C99A;
     border-color: #B5C99A;
     transform: translateY(-2px);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 }

 /* Tùy chỉnh form-control của Bootstrap */
 .form-control {
     border: 1px solid #CFE1B9;
     background: #E9F5DB;
     border-radius: 10px;
 }

 .form-control:focus {
     border-color: #718355;
     box-shadow: 0 0 8px rgba(113, 131, 85, 0.2);
     background: #fff;
 }

 @media (max-width: 768px) {
     .card {
         min-width: 450px;
     }
 }

 @media (max-width: 500px) {
     .card {
         min-width: 300px;
     }
 }